name: deploy-env
on:
  workflow_dispatch:
    inputs:
      env_name:
        description: "Name of environment to deploy"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-18.04
    environment:
      name: "${{ github.event.inputs.env_name }}"
    steps:
      - name: Start deployment
        uses: bobheadxi/deployments@v0.5.2
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: ${{ github.event.inputs.env_name }}

      - name: Print steps result (for debug)
        env:
          GITHUB_CONTEXT: ${{ toJson(steps.deployment) }}
        run: echo "$GITHUB_CONTEXT"

      - run: |
          echo 'Performing the deployment...'
          sleep 40

      - name: update deployment status
        uses: bobheadxi/deployments@v0.5.2
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
